*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    height: 100;
}

figure{
    padding: 10px;
}

figure > img{
    vertical-align: middle;
}

figure > span{
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}

main{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
}

.interaction-bar{
    height: 60px;
    padding-left: 60px;
    padding-top: 15px;
    margin-bottom: 2px;
}

.interaction-bar, main > div.interaction-bar :last-child, .tasks, figure{
    background-color: white;
}

main > div.interaction-bar :first-child{
    background-color: #47ADF1;
    border-color: #47ADF1;
    color: white;
}

main > div.interaction-bar :last-child{
    border-color: #C5CBD0;
    color: #C5CBD0;
}

main > div.interaction-bar :last-child, main > div.interaction-bar :first-child{
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.tasks{
    padding: 30px;
}

h2{
    color: #42464F;
}

ul{
    padding-top: 10px;
    list-style: none;
}

li{
    padding: 10px;
    font-size: 20px;
    font-weight: 750;
    color: #585B63;
}
li.done::before{
    content: "\2713";
    color: #75C7B4;
    border: 2px solid #75C7B4;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

li.notdone::before{
    content: "\2715";
    color: #F1928E;
    border: 2px solid #F1928E;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
}

li.editorial::after{
    content: "Editorial";
    background-color: #45ABEA;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

li.q1::after{
    content: "Q1 Goals";
    background-color: #9C72E4;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

li.recruiting::after{
    content: "Recruiting";
    background-color: #64C0A9;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

li.mobile::after{
    content: "Mobile";
    background-color: #F29E33;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

li.website::after{
    content: "Website";
    background-color: #D863A1;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}

li.sales::after{
    content: "Sales";
    background-color: #B0C925;
    color: white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
}



